# Sanity — web (Astro čte při buildu)
SANITY_PROJECT_ID=bq3811kv
SANITY_DATASET=production

# Sanity — Studio (vyžaduje prefix SANITY_STUDIO_)
SANITY_STUDIO_PROJECT_ID=bq3811kv
SANITY_STUDIO_DATASET=production
